node_modules/
coverage/
*.log
.env
# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/tfplan
**/*.tfstate
**/*.tfvars
**/*.tfstate.backup
terraform/ec2_key.pem

# Ansible
ansible/inventory.ini
ansible/secrets.yml