

docker_hub_user:  "your-dockerhub-username"
docker_hub_token: "your-dockerhub-access-token"
github_repo_url:  "https://github.com/your-username/cicd-pipeline.git"
key_path:         "../terraform/ec2_key.pem"


